# Лекция 11. Расширенный PostgreSQL

В ноутбуке используется [JupySQL](https://jupysql.ploomber.io/en/latest/quick-start.html). Пакеты:
- jupysql
- pandas
- pyarrow
- psycopg2-binary

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:localdbpass@localhost/digital-trajectories

## VIEW
VIEW (Представление) — объект базы данных, представляющий собой именованный сохраненный запрос, определенный с помощью оператора SELECT.
Может содержать данные:
* из одной таблицы
* из нескольких таблиц
* из других представлений

Основное применение - упрощение работы с БД.

### Создание VIEW
См. https://www.postgresql.org/docs/current/sql-createview.html

In [3]:
%%sql
CREATE OR REPLACE VIEW "DepartmentAdmins" AS
SELECT U.id, name, surname, midname, DWD.title FROM "Users" U
LEFT JOIN "DepartmentUsers" DU on DU."userId" = U.id
LEFT JOIN "DictWorkDepartments" DWD ON DWD."id" = DU."workDepartmentId"
WHERE U.roles @> '{admin}';

SELECT * FROM "DepartmentAdmins";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

12 rows affected.

+-------+-----------+------------+---------------+------------------------------------------------------+
|   id  |    name   |  surname   |    midname    |                        title                         |
+-------+-----------+------------+---------------+------------------------------------------------------+
|  8568 |  Анатолий |  Голиков   |  Владимирович |                         None                         |
|  3609 |   Андрей  |  Чернышев  |   Дмитриевич  |                         None                         |
|  3432 |  Светлана |  Карелина  | Александровна |                    Центр карьеры                     |
|  1307 |   Максим  |  Ковынев   |  Владимирович |                         None                         |
|  914  |   Сергей  |   Беляев   |   Алексеевич  | Кафедра математического обеспечения и применения ЭВМ |
|  914  |   Сергей  |   Беляев   |   Алексеевич  |             Отдел информационных систем              |
| 18667 |  Наталья  | Золотарева |    Игоревна   |                         None                         |
| 18668 | Екатерина |   Гурова   |    Игоревна   |                         None                         |
|  802  |    Иван   |   Холод    |    Иванович   |           Кафедра "Информационные системы"           |
|  802  |    Иван   |   Холод    |    Иванович   |   Факультет компьютерных технологий и информатики    |
+-------+-----------+------------+---------------+------------------------------------------------------+
Truncated to displaylimit of 10.

## MATERIALIZED VIEW
Обычные VIEW никак не кэшируют запросы к БД, т.е. каждое обращение к VIEW является выполнением сохраненного запроса.

Для кэширования результатов выполнения существует MATERIALIZED VIEW - представления, у которых сохраняется результат запроса.

In [4]:
%%sql
DROP MATERIALIZED VIEW IF EXISTS "DepartmentAdmins1";

CREATE MATERIALIZED VIEW "DepartmentAdmins1" AS
SELECT U.id, name, surname, midname, DWD.title FROM "Users" U
LEFT JOIN "DepartmentUsers" DU on DU."userId" = U.id
LEFT JOIN "DictWorkDepartments" DWD ON DWD."id" = DU."workDepartmentId"
WHERE U.roles @> '{admin}';

SELECT * FROM "DepartmentAdmins1";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

12 rows affected.

12 rows affected.

+-------+-----------+------------+---------------+------------------------------------------------------+
|   id  |    name   |  surname   |    midname    |                        title                         |
+-------+-----------+------------+---------------+------------------------------------------------------+
|  8568 |  Анатолий |  Голиков   |  Владимирович |                         None                         |
|  3609 |   Андрей  |  Чернышев  |   Дмитриевич  |                         None                         |
|  3432 |  Светлана |  Карелина  | Александровна |                    Центр карьеры                     |
|  1307 |   Максим  |  Ковынев   |  Владимирович |                         None                         |
|  914  |   Сергей  |   Беляев   |   Алексеевич  | Кафедра математического обеспечения и применения ЭВМ |
|  914  |   Сергей  |   Беляев   |   Алексеевич  |             Отдел информационных систем              |
| 18667 |  Наталья  | Золотарева |    Игоревна   |                         None                         |
| 18668 | Екатерина |   Гурова   |    Игоревна   |                         None                         |
|  802  |    Иван   |   Холод    |    Иванович   |           Кафедра "Информационные системы"           |
|  802  |    Иван   |   Холод    |    Иванович   |   Факультет компьютерных технологий и информатики    |
+-------+-----------+------------+---------------+------------------------------------------------------+
Truncated to displaylimit of 10.

In [5]:
%%sql
SELECT count(*) FROM "DepartmentAdmins1";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------+
| count |
+-------+
|   12  |
+-------+

Перерасчёт MATERIALIZED VIEW - команда `REFRESH MATERIALIZED VIEW`:

In [6]:
%%sql
REFRESH MATERIALIZED VIEW "DepartmentAdmins1";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

++
||
++
++

### Обновляемые VIEW
Обычные представления нельзя обновлять (т.е. использовать команду UPDATE)

Можно создать обновляемые VIEW следующим образом:

In [7]:
%%sql
create or replace view "UserAdmins" as
select id, surname, name, midname from "Users" where roles @> '{admin}'
with cascaded check option;

select * from "UserAdmins";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+------------+-----------+---------------+
|   id  |  surname   |    name   |    midname    |
+-------+------------+-----------+---------------+
|  8568 |  Голиков   |  Анатолий |  Владимирович |
|  3609 |  Чернышев  |   Андрей  |   Дмитриевич  |
|  3432 |  Карелина  |  Светлана | Александровна |
|  1307 |  Ковынев   |   Максим  |  Владимирович |
|  914  |   Беляев   |   Сергей  |   Алексеевич  |
| 18667 | Золотарева |  Наталья  |    Игоревна   |
| 18668 |   Гурова   | Екатерина |    Игоревна   |
|  802  |   Холод    |    Иван   |    Иванович   |
|  1310 |  Лукашев   |   Роман   |   Сергеевич   |
|  1305 |  Корытов2  |   Павел2  |   Валерьевич  |
+-------+------------+-----------+---------------+
Truncated to displaylimit of 10.

In [8]:
%%sql
UPDATE "UserAdmins" SET name = 'Павел2' WHERE id = 1305;

SELECT * FROM "UserAdmins" WHERE id = 1305;

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

1 rows affected.

+------+----------+--------+------------+
|  id  | surname  |  name  |  midname   |
+------+----------+--------+------------+
| 1305 | Корытов2 | Павел2 | Валерьевич |
+------+----------+--------+------------+

Если VIEW обновляемый, на него накладываются следующие ограничения:
- Только одна запись в FROM
- Нельзя использовать WITH, DISTINCT, GROUP BY, HAVING, LIMIT, OFFSET на верхнем уровне
- Нельзя использовать UNION, INTERSECT, EXCEPT на верхнем уровне
- Нельзя использовать функции агрегации, функции окон или функции, возвращие несколько значений в SELECT

## PL/pgSQL
PL/pgSQL - процедурный язык PostgreSQL.

См. https://www.postgresql.org/docs/16/plpgsql.html

### Зачем?
Интересный вопрос - когда нужно реализовывать бизнес-логику в PL/pgSQL (т.е. в БД), а не в клиентах БД?

Преимущества PL/pgSQL:
- **Уменьшение накладных расходов**
  - Нет задержки на передачу данных от БД - актуально, если БД расположена далеко
  - Если БД расположена на том же сервере - отсутствует overhead передачи данных в основное приложение
- **Доступ к SQL**  
  - Возможно, какие-то операции над данными проще выполнить на SQL, чем в основной бизнес-логике.
- **Производительность**
  - В PL/pgSQL можно выполнять операции над большими объемами данных.
    Например, когда датасет не влезет в оперативную память, чтобы его обработать R или pandas
  - Как правило, БД более эффективно манипулируют данными. Особенно если нужно выполнять операции соединения, агрегации...  
    Кейс - данные из одного запроса нужно сложить в другой запрос, потом в третий...

Недостатки:
- **Сложность поддержки**
  - PL/pgSQL может быть сложно отлаживать
  - Субъективно - PL/pgSQL очень многословный; сложно разбираться в коде, особенно в командной разработке
  - Сложно тестировать (но можно)
- **Проблемы с архитектурой приложения**
  - Обычно бизнес-логику приложения отделяют от логики хранения данных.
  - Разделение бизнес-логики между приложением и БД увеличивает сложность проекта.
- **Производительность**
  - Использование функций может затруднить работу оптимизатора
 
Некоторые сценарии использования:
- Аналитика / ETL
- Оптимизация со счётом на милисекунды

### Процедуры, функции и триггеры
- **Процедуры** (procedures) - (...почти...) не возвращают результат
- **Функции** (functions) - возвращают результат
  - **Триггеры** (triggers) - функции, запускающиеся по событиям в БД

Некоторые отличия процедур от функций в PostgreSQL:
- Процедуры могут использовать транзакции.
- Процедуры нельзя вызывать в DML (SELECT, INSERT, UPDATE, DELETE)

### Функции
Пример функции:

In [9]:
%%sql
DROP FUNCTION IF EXISTS test_func;

CREATE FUNCTION test_func(a integer, b integer)
    -- Формат ответа и язык функции
    RETURNS integer LANGUAGE PLPGSQL AS $$
DECLARE
    -- Переменные
    c integer;
BEGIN
    -- Оператор присваивания
    c := a + b;
    return c * c;
END;
$$;

SELECT test_func(2, 3);

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-----------+
| test_func |
+-----------+
|     25    |
+-----------+

Помимо присваивания можно использовать `SELECT INTO`, если он вернет одну строчку:

In [10]:
%%sql
drop function if exists bar;
create function bar(a int, b int) returns int language plpgsql as $$
declare
    c int;
begin
    select a * b into c;
    return c;
end;
$$;

select bar(2, 3);

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-----+
| bar |
+-----+
|  6  |
+-----+

Функция, возвращающая инцициалы:

In [11]:
%%sql
drop function if exists get_initials;

create function get_initials(surname varchar(256), name varchar(256), midname varchar(256))
    returns varchar(256) language PLPGSQL AS $$
declare
    initials varchar(256);
begin
    -- IF clause
    if (surname is null) then
        return 'Нет';
    end if;
    -- Можно использовать любые встроенные функции postgres;
    initials := concat(surname, ' ', substring(name from 0 for 2), '.');
    if (midname is not null and midname != '') then
        initials := concat(initials, substring(midname from 0 for 2), '.');
    end if;
    return initials;
end; $$;

SELECT id, get_initials(surname, name, midname) FROM "Users" LIMIT 10

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+---------------+
|   id  |  get_initials |
+-------+---------------+
|  3841 | Воронцов Д.Е. |
| 18761 |  Русских А.В. |
|  3560 |  Фомичев Д.А. |
|  4047 | Федосеев П.С. |
|  4056 |  Поздеев А.Г. |
| 18762 |  Устинов В.О. |
|  4080 |  Лемешко П.С. |
|  4084 |  Карамов А.Р. |
|  4089 |  Морозов Н.Н. |
|  4090 |  Тойкка А.С.  |
+-------+---------------+
Truncated to displaylimit of 10.

### Процедуры

In [12]:
%%sql

drop procedure if exists spam_history;

create procedure spam_history(count int8) language PLPGSQL AS $$
declare
    i int8;
begin
    -- for цикл
    for i in 1..count loop
        insert into "HistoryRecords" (category, message, info, "userId", "createdAt", "updatedAt")
        values ('misc', format('Spam %s', i), format('<b>Spam</b> %s', i), 1305, NOW(), NOW());
    end loop;
end; $$;

call spam_history(10);

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

++
||
++
++

### Некоторые элементы управления
#### case

In [13]:
%%sql
drop function if exists get_weekday;

create function get_weekday(weekDay varchar(3)) returns int2 language PLPGSQL AS $$
begin
    case weekDay
        when 'MON' then
            return 0;
        when 'TUE' then
            return 1;
        when 'WED' then
            return 2;
        when 'THU' then
            return 3;
        when 'FRI' then
            return 4;
        when 'SAT' then
            return 5;
        when 'SUN' then
            return 6;
        else
            raise warning 'Wrong weekDay!';
            return -1;
    end case;
end; $$;

select get_weekday('THU');

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------------+
| get_weekday |
+-------------+
|      3      |
+-------------+

#### Произвольный цикл

In [14]:
%%sql
drop function if exists foo;

create function foo() returns int[] language PLPGSQL AS $$
declare
    res int[];
    val float;
begin
    -- Начало цикла
    loop
        val := random();
        res := array_append(res, (val * 100)::int);
        if (val > 0.95) then
            exit; -- выход из цикла
        end if;
    -- Конец цикла
    end loop;
    return res;
end; $$;

select foo();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+--------------------------------------------------+
|                       foo                        |
+--------------------------------------------------+
| [18, 68, 10, 19, 75, 32, 39, 93, 48, 43, 40, 99] |
+--------------------------------------------------+

In [15]:
%%sql
drop function if exists baz;

create function baz() returns int[] language PLPGSQL AS $$
declare
    res int[];
    val float;
begin
    loop
        val := random();
        res := array_append(res, (val * 100)::int);
        -- Можно ещё выходить так
        exit when val > 0.95;
    end loop;
    return res;
end; $$;

select baz();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+---------------------------------------------------------------------------+
|                                    baz                                    |
+---------------------------------------------------------------------------+
| [55, 12, 60, 35, 75, 92, 57, 58, 28, 77, 85, 89, 81, 71, 19, 61, 58, 100] |
+---------------------------------------------------------------------------+

### Работа с данными

#### Возвращение таблиц из функций
Можно вернуть из функции набор строчек.

- `returns setof <таблица>` в объявлении результата - набор строчек из данной таблицы
- `return query` - вернуть результат выполнения запроса;

In [16]:
%%sql
drop function if exists test_return_query;

create function test_return_query()
    -- "HistoryRecords" используется как тип данных. Можно объявить свой через CREATE TYPE
    returns setof "HistoryRecords" language plpgsql as $$
begin
    return query select * from "HistoryRecords" ORDER BY "createdAt" DESC LIMIT 3;
end; $$;

select * from test_return_query();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

3 rows affected.

+--------+----------+--------+-------+---------+---------------+--------+----------------------------------+----------------------------------+
|   id   | category | opopId | rpdId | message |      info     | userId |            createdAt             |            updatedAt             |
+--------+----------+--------+-------+---------+---------------+--------+----------------------------------+----------------------------------+
| 285412 |   misc   |  None  |  None |  Spam 1 | <b>Spam</b> 1 |  1305  | 2023-11-16 00:26:22.927491+00:00 | 2023-11-16 00:26:22.927491+00:00 |
| 285413 |   misc   |  None  |  None |  Spam 2 | <b>Spam</b> 2 |  1305  | 2023-11-16 00:26:22.927491+00:00 | 2023-11-16 00:26:22.927491+00:00 |
| 285414 |   misc   |  None  |  None |  Spam 3 | <b>Spam</b> 3 |  1305  | 2023-11-16 00:26:22.927491+00:00 | 2023-11-16 00:26:22.927491+00:00 |
+--------+----------+--------+-------+---------+---------------+--------+----------------------------------+----------------------------------+

Если возвращается что-то нестандартное, можно использовать `RETURNS TABLE`

In [17]:
%%sql
drop function if exists test_return_query_2;

create function test_return_query_2()
    returns table(id int, initials varchar(256)) language plpgsql as $$
begin
    return query select "Users".id, get_initials(surname, name, midname) from "Users" WHERE roles @> '{admin}';
end; $$;

select * from test_return_query_2();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+-----------------+
|   id  |     initials    |
+-------+-----------------+
|  8568 |   Голиков А.В.  |
|  3609 |  Чернышев А.Д.  |
|  3432 |  Карелина С.А.  |
|  1307 |   Ковынев М.В.  |
|  914  |   Беляев С.А.   |
| 18667 | Золотарева Н.И. |
| 18668 |   Гурова Е.И.   |
|  802  |    Холод И.И.   |
|  1310 |   Лукашев Р.С.  |
|  1305 |  Корытов2 П.В.  |
+-------+-----------------+
Truncated to displaylimit of 10.

#### Тип RECORD
RECORD - строковой тип без предопределенной структуры (вычисляется на этапе компиляции функции или процедуры).

Можно использовать, чтобы итерироваться по результатам запроса:

In [18]:
%%sql
drop function if exists test_record;

create function test_record()
    returns varchar(256)[] language plpgsql as $$
declare 
    rec record;
    result varchar(256)[];
    val varchar;
    total int := 0;
begin
    -- Итерация по результатам запроса:
    for rec in select * from "Users" where roles @> '{admin}' loop
        result := array_append(result, get_initials(rec.surname, rec.name, rec.midname));
    end loop;
    
    -- Итерация по массиву
    foreach val in array result loop
        total := total + length(val);
    end loop;
    
    result := array_append(result, format('Total %s', total)::varchar(256));
    return result;
end; $$;

select * from test_record();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                   test_record                                                                                   |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| ['Голиков А.В.', 'Чернышев А.Д.', 'Карелина С.А.', 'Ковынев М.В.', 'Беляев С.А.', 'Золотарева Н.И.', 'Гурова Е.И.', 'Холод И.И.', 'Лукашев Р.С.', 'Корытов2 П.В.', 'Total 122'] |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

#### return next
С помощью `return next` можно вернуть множество значений

In [19]:
%%sql
drop function if exists test_return_next;

create function test_return_next()
    returns setof "Users" language plpgsql as $$
declare
    rec "Users";
begin
    for rec in select * from "Users" where roles @> '{admin}' loop
        rec.email = null;
        rec."personalNumber" = null;
        rec."lkId" = null;
        rec.phone = null;
        rec.birthday = null;
        return next rec;
    end loop;
end; $$;

select * from test_return_next();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|   id  |  surname   |    name   |    midname    |                     roles                     |                              opopRights                              |                              rpdRights                               | rightsOverride | isGlobalApprover | coordinatesFacultyId | email | personalNumber | lkId | isActivated | phone |            createdAt             |            updatedAt             |            deletedAt             | banReason | bannedAt | signature | birthday | citizenshipId |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|  8568 |  Голиков   |  Анатолий |  Владимирович |                {student,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-04-14 08:07:18.298000+00:00 | 2023-10-04 08:06:08.808000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3609 |  Чернышев  |   Андрей  |   Дмитриевич  |                {admin,student}                |                                  {}                                  |                                  {}                                  |     False      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-21 19:40:19.933000+00:00 | 2023-09-21 14:00:42.879000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3432 |  Карелина  |  Светлана | Александровна |               {PRManager,admin}               |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-04 08:21:24.542000+00:00 | 2023-02-13 11:30:16.313000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1307 |  Ковынев   |   Максим  |  Владимирович |                {student,admin}                | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-13 16:31:33.733000+00:00 | 2023-05-27 15:48:37.677000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  914  |   Беляев   |   Сергей  |   Алексеевич  |       {PRManager,admin,partner,teacher}       |                     {assign,edit,view,viewDraft}                     |                     {assign,edit,view,viewDraft}                     |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:04:24.147000+00:00 | 2022-09-23 09:35:05.417000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
| 18667 | Золотарева |  Наталья  |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:09.724000+00:00 | 2023-02-15 08:55:04.842000+00:00 | 2023-02-15 08:55:04.842000+00:00 |    None   |   None   |    None   |   None   |      None     |
| 18668 |   Гурова   | Екатерина |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:49.402000+00:00 | 2023-02-22 08:01:59.685000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  802  |   Холод    |    Иван   |    Иванович   | {PRManager,admin,partner,teacher,LoadManager} |                             {edit,view}                              |                             {edit,view}                              |      True      |       None       |          26          |  None |      None      | None |     True    |  None | 2020-09-12 14:04:23.339000+00:00 | 2023-03-06 18:12:41.202000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1310 |  Лукашев   |   Роман   |   Сергеевич   |           {admin,student,PRManager}           |                          {view,edit,assign}                          |                          {view,edit,assign}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-18 15:01:01.102000+00:00 | 2023-04-28 12:28:47.193000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  1305 |  Корытов2  |   Павел2  |   Валерьевич  |     {PRManager,admin,student,LoadManager}     |                          {assign,edit,view}                          |                          {assign,edit,view}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:50:08.748000+00:00 | 2023-04-28 12:28:25.550000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
Truncated to displaylimit of 10.

### Курсоры
Курсор - механизм для перебора строчек.

Циклы `for` уже реализованы с помощью курсоров, но можно использовать их явно:

In [20]:
%%sql
drop function if exists test_cursor;

create function test_cursor()
    returns setof "Users" language plpgsql as $$
declare
    rec "Users";
    user_cursor cursor for select * from "Users" where roles @> '{admin}';
begin
    for rec in user_cursor loop
        rec.email = null;
        rec."personalNumber" = null;
        rec."lkId" = null;
        rec.phone = null;
        rec.birthday = null;
        return next rec;
    end loop;
end; $$;

select * from test_cursor();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|   id  |  surname   |    name   |    midname    |                     roles                     |                              opopRights                              |                              rpdRights                               | rightsOverride | isGlobalApprover | coordinatesFacultyId | email | personalNumber | lkId | isActivated | phone |            createdAt             |            updatedAt             |            deletedAt             | banReason | bannedAt | signature | birthday | citizenshipId |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|  8568 |  Голиков   |  Анатолий |  Владимирович |                {student,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-04-14 08:07:18.298000+00:00 | 2023-10-04 08:06:08.808000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3609 |  Чернышев  |   Андрей  |   Дмитриевич  |                {admin,student}                |                                  {}                                  |                                  {}                                  |     False      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-21 19:40:19.933000+00:00 | 2023-09-21 14:00:42.879000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3432 |  Карелина  |  Светлана | Александровна |               {PRManager,admin}               |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-04 08:21:24.542000+00:00 | 2023-02-13 11:30:16.313000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1307 |  Ковынев   |   Максим  |  Владимирович |                {student,admin}                | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-13 16:31:33.733000+00:00 | 2023-05-27 15:48:37.677000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  914  |   Беляев   |   Сергей  |   Алексеевич  |       {PRManager,admin,partner,teacher}       |                     {assign,edit,view,viewDraft}                     |                     {assign,edit,view,viewDraft}                     |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:04:24.147000+00:00 | 2022-09-23 09:35:05.417000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
| 18667 | Золотарева |  Наталья  |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:09.724000+00:00 | 2023-02-15 08:55:04.842000+00:00 | 2023-02-15 08:55:04.842000+00:00 |    None   |   None   |    None   |   None   |      None     |
| 18668 |   Гурова   | Екатерина |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:49.402000+00:00 | 2023-02-22 08:01:59.685000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  802  |   Холод    |    Иван   |    Иванович   | {PRManager,admin,partner,teacher,LoadManager} |                             {edit,view}                              |                             {edit,view}                              |      True      |       None       |          26          |  None |      None      | None |     True    |  None | 2020-09-12 14:04:23.339000+00:00 | 2023-03-06 18:12:41.202000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1310 |  Лукашев   |   Роман   |   Сергеевич   |           {admin,student,PRManager}           |                          {view,edit,assign}                          |                          {view,edit,assign}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-18 15:01:01.102000+00:00 | 2023-04-28 12:28:47.193000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  1305 |  Корытов2  |   Павел2  |   Валерьевич  |     {PRManager,admin,student,LoadManager}     |                          {assign,edit,view}                          |                          {assign,edit,view}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:50:08.748000+00:00 | 2023-04-28 12:28:25.550000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
Truncated to displaylimit of 10.

Можно также использовать `open cursor`.

Главное - не забывать закрывать курсоры (`close cursor`). Это дает более точный контроль над итерациецй по результатам.

In [21]:
%%sql
drop function if exists test_cursor_1;

create function test_cursor_1()
    returns setof "Users" language plpgsql as $$
declare
    rec "Users";
    user_cursor refcursor;
begin
    open user_cursor for select * from "Users" where roles @> '{admin}';
    loop
        fetch user_cursor into rec;
        exit when not found;
        
        rec.email = null;
        rec."personalNumber" = null;
        rec."lkId" = null;
        rec.phone = null;
        rec.birthday = null;
        return next rec;
    end loop;
    close user_cursor;
end; $$;

select * from test_cursor_1();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|   id  |  surname   |    name   |    midname    |                     roles                     |                              opopRights                              |                              rpdRights                               | rightsOverride | isGlobalApprover | coordinatesFacultyId | email | personalNumber | lkId | isActivated | phone |            createdAt             |            updatedAt             |            deletedAt             | banReason | bannedAt | signature | birthday | citizenshipId |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
|  8568 |  Голиков   |  Анатолий |  Владимирович |                {student,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-04-14 08:07:18.298000+00:00 | 2023-10-04 08:06:08.808000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3609 |  Чернышев  |   Андрей  |   Дмитриевич  |                {admin,student}                |                                  {}                                  |                                  {}                                  |     False      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-21 19:40:19.933000+00:00 | 2023-09-21 14:00:42.879000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  3432 |  Карелина  |  Светлана | Александровна |               {PRManager,admin}               |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-02-04 08:21:24.542000+00:00 | 2023-02-13 11:30:16.313000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1307 |  Ковынев   |   Максим  |  Владимирович |                {student,admin}                | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} | {assign,edit,view,coordinate,coordinateDepartment,approve,viewDraft} |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-13 16:31:33.733000+00:00 | 2023-05-27 15:48:37.677000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  914  |   Беляев   |   Сергей  |   Алексеевич  |       {PRManager,admin,partner,teacher}       |                     {assign,edit,view,viewDraft}                     |                     {assign,edit,view,viewDraft}                     |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:04:24.147000+00:00 | 2022-09-23 09:35:05.417000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
| 18667 | Золотарева |  Наталья  |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:09.724000+00:00 | 2023-02-15 08:55:04.842000+00:00 | 2023-02-15 08:55:04.842000+00:00 |    None   |   None   |    None   |   None   |      None     |
| 18668 |   Гурова   | Екатерина |    Игоревна   |                {partner,admin}                |                                  {}                                  |                                  {}                                  |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2022-12-06 13:58:49.402000+00:00 | 2023-02-22 08:01:59.685000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  802  |   Холод    |    Иван   |    Иванович   | {PRManager,admin,partner,teacher,LoadManager} |                             {edit,view}                              |                             {edit,view}                              |      True      |       None       |          26          |  None |      None      | None |     True    |  None | 2020-09-12 14:04:23.339000+00:00 | 2023-03-06 18:12:41.202000+00:00 |               None               |    None   |   None   |    None   |   None   |      None     |
|  1310 |  Лукашев   |   Роман   |   Сергеевич   |           {admin,student,PRManager}           |                          {view,edit,assign}                          |                          {view,edit,assign}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-18 15:01:01.102000+00:00 | 2023-04-28 12:28:47.193000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
|  1305 |  Корытов2  |   Павел2  |   Валерьевич  |     {PRManager,admin,student,LoadManager}     |                          {assign,edit,view}                          |                          {assign,edit,view}                          |      True      |       None       |         None         |  None |      None      | None |     True    |  None | 2020-09-12 14:50:08.748000+00:00 | 2023-04-28 12:28:25.550000+00:00 |               None               |    None   |   None   |    None   |   None   |       3       |
+-------+------------+-----------+---------------+-----------------------------------------------+----------------------------------------------------------------------+----------------------------------------------------------------------+----------------+------------------+----------------------+-------+----------------+------+-------------+-------+----------------------------------+----------------------------------+----------------------------------+-----------+----------+-----------+----------+---------------+
Truncated to displaylimit of 10.

Курсоры также можно вернуть из функции.

## Обработка исключений
Исключения можно обработать с помощью выражения `EXCEPTION` в begin-end блоке:

In [22]:
%%sql
drop function if exists dumb_divide;

create function dumb_divide(a int, b int) returns int language plpgsql as $$
begin
    return a / b;
exception 
    when division_by_zero then return 0;
end;
$$;

select dumb_divide(4, 0);

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------------+
| dumb_divide |
+-------------+
|      0      |
+-------------+

## Выполнение произвольных запросов
Можно вернуть результат выполнения SQL-запроса в строке с помощью `return query execute`

In [23]:
%%sql
drop function if exists test_exec;

create function test_exec() returns setof "HistoryRecords" language plpgsql as $$
declare
    res text;
begin
    res = 'SELECT * FROM "HistoryRecords" ORDER BY "createdAt" DESC LIMIT 10';
    return query execute res;
end;
$$;

select test_exec();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

10 rows affected.

+-----------------------------------------------------------------------------------------------------------------+
|                                                    test_exec                                                    |
+-----------------------------------------------------------------------------------------------------------------+
|  (285420,misc,,,"Spam 9","<b>Spam</b> 9",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285418,misc,,,"Spam 7","<b>Spam</b> 7",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285419,misc,,,"Spam 8","<b>Spam</b> 8",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285414,misc,,,"Spam 3","<b>Spam</b> 3",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285416,misc,,,"Spam 5","<b>Spam</b> 5",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285417,misc,,,"Spam 6","<b>Spam</b> 6",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285412,misc,,,"Spam 1","<b>Spam</b> 1",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285415,misc,,,"Spam 4","<b>Spam</b> 4",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
|  (285413,misc,,,"Spam 2","<b>Spam</b> 2",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00")  |
| (285421,misc,,,"Spam 10","<b>Spam</b> 10",1305,"2023-11-16 00:26:22.927491+00","2023-11-16 00:26:22.927491+00") |
+-----------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.

Можно также использовать `EXECUTE`:

In [24]:
%%sql
drop function if exists test_exec_2;

create function test_exec_2() returns int language plpgsql as $$
declare
    q text;
    res int;
begin
    q = 'SELECT count(*) FROM "HistoryRecords"';
    execute q into res;
    return res;
end;
$$;

select test_exec_2();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------------+
| test_exec_2 |
+-------------+
|    285299   |
+-------------+

In [25]:
%%sql
drop function if exists dumb_exec;

create function dumb_exec(surname varchar(256)) returns int language plpgsql as $$
declare
    q text;
    res int;
begin
    q := format('SELECT id FROM "Users" where surname = ''%s''', surname);
    execute q into res;
    return res;
end;
$$;

select dumb_exec('Корытов');

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-----------+
| dumb_exec |
+-----------+
|    2225   |
+-----------+

In [26]:
%%sql
select dumb_exec(''' OR 1 = 1 OR ''1'' = ''1');

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-----------+
| dumb_exec |
+-----------+
|    3841   |
+-----------+

In [27]:
%%sql
drop function if exists better_exec;

create function better_exec(surname varchar(256)) returns int language plpgsql as $$
declare
    q text;
    res int;
begin
    q := format('SELECT id FROM "Users" where surname = %s', quote_literal(surname));
    execute q into res;
    return res;
end;
$$;

select better_exec('Корытов');

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------------+
| better_exec |
+-------------+
|     2225    |
+-------------+

In [28]:
%%sql
select better_exec(''' OR 1 = 1 OR ''1'' = ''1');

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

+-------------+
| better_exec |
+-------------+
|     None    |
+-------------+

## Триггеры
Триггеры можно повесить как на обновления строчек, так и на события в БД.

Для обновления строчек события:
- `INSERT`
- `DELETE`
- `UPDATE`
- `TRUNCATE`


Внутри тела функции будут доступны переменные:
- `OLD` - старая запись
- `NEW` - новая запись
- `TG_TABLE_NAME`, `TG_TABLE_NAME`

Полный список см. https://www.postgresql.org/docs/16/plpgsql-trigger.html

### Создание триггера
Чтобы создать триггер, нужно сделать функцию, возвращающую тип trigger.

Созданную функцию нужно повесить на нужное событие.

In [29]:
%%sql
CREATE OR REPLACE FUNCTION log_surname_changes() 
   RETURNS TRIGGER 
   LANGUAGE PLPGSQL
AS $$
BEGIN
    if (new.surname != old.surname) then
        insert into "HistoryRecords" (category, message, info, "userId", "createdAt", "updatedAt")
        values ('misc', format('Сменена фамилия: %s -> %s', new.surname, old.surname), 'привет', new.id, now(), now());
    end if;
    return NEW;
END;
$$

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

++
||
++
++

In [30]:
%%sql
create trigger user_log_surname_changes
    before update on "Users"
    for each row
    execute procedure log_surname_changes();

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

++
||
++
++

In [31]:
%%sql
SELECT name, default_version, installed_version FROM pg_available_extensions

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

44 rows affected.

+-----------------+-----------------+-------------------+
|       name      | default_version | installed_version |
+-----------------+-----------------+-------------------+
|  pg_buffercache |       1.3       |        None       |
|   postgres_fdw  |       1.0       |        None       |
|   moddatetime   |       1.0       |        None       |
|      ltree      |       1.1       |        None       |
|    uuid-ossp    |       1.1       |        None       |
| insert_username |       1.0       |        None       |
|       seg       |       1.3       |        None       |
| tsm_system_rows |       1.0       |        None       |
|        lo       |       1.1       |        None       |
|     amcheck     |       1.2       |        None       |
+-----------------+-----------------+-------------------+
Truncated to displaylimit of 10.

In [32]:
%%sql
UPDATE "Users" SET surname = 'Корытов1' WHERE id = 1305;

UPDATE "Users" SET surname = 'Корытов2' WHERE id = 1305;

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

1 rows affected.

1 rows affected.

++
||
++
++

In [33]:
%%sql
select * FROM "HistoryRecords" ORDER BY "createdAt" DESC LIMIT 2;

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

2 rows affected.

+--------+----------+--------+-------+---------------------------------------+--------+--------+----------------------------------+----------------------------------+
|   id   | category | opopId | rpdId |                message                |  info  | userId |            createdAt             |            updatedAt             |
+--------+----------+--------+-------+---------------------------------------+--------+--------+----------------------------------+----------------------------------+
| 285423 |   misc   |  None  |  None | Сменена фамилия: Корытов2 -> Корытов1 | привет |  1305  | 2023-11-16 00:26:23.980772+00:00 | 2023-11-16 00:26:23.980772+00:00 |
| 285422 |   misc   |  None  |  None | Сменена фамилия: Корытов1 -> Корытов2 | привет |  1305  | 2023-11-16 00:26:23.977519+00:00 | 2023-11-16 00:26:23.977519+00:00 |
+--------+----------+--------+-------+---------------------------------------+--------+--------+----------------------------------+----------------------------------+

### Удаление триггеров

In [34]:
%%sql
DROP TRIGGER IF EXISTS user_log_surname_changes ON "Users";

Running query in 'postgresql://postgres:***@localhost/digital-trajectories'

++
||
++
++

Также есть:
- `ALTER TRIGGER <триггер> ON <таблица>`
- `ALTER TABLE <таблица> DISABLE TRIGGER <триггер> | ALL`
- `ALTER TABLE <таблица> ENABLE TRIGGER <триггер> | ALL`